# OpenAI
OPENAI_API_KEY=

or
GROQ_API_KEY=

or
Gemini_API_Key=

# Weather API
WEATHER_API_KEY=

# Amadeus API
AMADEUS_API_KEY=
AMADEUS_API_SECRET=
AMADEUS_BASE_URL=https://test.api.amadeus.com

# Flight API 
AVIATIONSTACK_API_KEY=
